<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mappper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.I.LoveU.mapper.PhotoMapper">
    <resultMap id="seeAll" type="com.I.LoveU.po.Photo">
        <result column="id" property="id"/>
        <result column="photoname" property="photoname"/>
        <result column="username" property="username"/>
    </resultMap>

    <select id="getPhoto" resultMap="seeAll">
        SELECT * from photo
    </select>

    <resultMap id="src" type="com.I.LoveU.po.Photo">
        <result column="photoname" property="photoname"/>
    </resultMap>

    <select id="countPhoto" resultMap="src">
        select photoname from photo
    </select>
</mapper>